@import "tailwindcss";

@theme {
    /* Main colors */
    --color-primary: #6b2737;
    --color-primary-dark: #4a1c2a;
    --color-secondary: #d4a373;

    /* Supporting colors */
    --color-btn-bg-primary: #b8a089;
    --color-btn-bg-secondary: #ffd9a0;

    /* Text */
    --color-primary-text: #f4ede4;
    --color-inverse-text: #1c1c1c;
}

/* ===== DARK THEME ===== */

.dark {
    --color-primary: #1c1c1c;
}

@layer components {
    h1 {
        font-size: var(--text-3xl);
        font-weight: var(--font-weight-semibold);
    }

    h2 {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-semibold);
    }

    h3 {
        font-size: var(--text-xl);
    }

    p {
        font-size: var(--text-base);
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-primary-text);
}
